* {
    /* default */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.headsortails{
    border-color: darkgreen;
    border-style: solid;
    border-radius: 10px;
}

.buttons {
    background-color: rgb(0, 58, 24);
    color: rgb(111, 241, 170);
    text-align: center;
    width: 500px;
    border-radius: 5px;
    border-color: rgb(111, 241, 170);
    margin-top: 1vh;

}

.buttons h3 {
    padding: 10px;
}

button {
    width: 15vw;
    padding: 2px;
    margin: 2px;
    border-radius: 25px;
    background-color: rgb(111, 241, 170);
    color: #fff;
    align-self: flex-start;
    margin-left: 5vh;
}

#winner {
    border-style: inset;
    width: 40vw;
    height: 5vh;
    margin: 1vh;
    background-color: #edffe6;
    border-radius: 5px;
}

h1 {
    margin-left: 6vw;
    padding-top: 1vh;
    font-size: 8vw;
    color:darkgreen;
}

h3 {
    margin-left: 13vw;
    
}

#guess {
    position: relative;
}

#result {
    position: relative;
}
